<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
       <mat-toolbar>Menu</mat-toolbar>
         <mat-nav-list>
           <a mat-list-item routerLink="/home">Home</a>
           <a mat-list-item routerLink="/browse">Browse Tournament</a>
           <a mat-list-item routerLink="/register" routerLinkActive="active" >Register</a>
           <a mat-list-item routerLink="/login" routerLinkActive="active" >Login</a>
           <a mat-list-item routerLink="/reset-password" routerLinkActive="active" >ResetPassword</a>
         </mat-nav-list>
   </mat-sidenav>
  
    <mat-toolbar color="primary">
      <button type="button"aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BattleFly</span>
     
    </mat-toolbar>


    <!-- Add Content Here -->
    <router-outlet></router-outlet>
 
</mat-sidenav-container>
